html{
    background-color: hsl(0,0%,0%);
    font-size:20px;
    line-height: 30px;
    /* background: url("https://i.redd.it/g7x3ry8vmhbb1.png"); */
}
body{
    color:hsl(0,0%,95%);
    font-family:'Ubuntu';
    /* background-repeat: repeat-y;
    background-position: 0%;    */
}
#digiclk{
    margin-top: 89%;
    padding: 25px;
    width:275px;
    height: 60px;
    /* background-image: url("d35y9h6-158d767b-ef4d-45c4-ba7e-9bdc817850d0.jpg"); */
    color: bisque;  
    border-radius: 15px;
}
#switcher{
    margin-top: 15px;
    left: 50%;
    right: 50%;
    /* margin-left: 22.5%; */
    color: white;
    box-shadow: 4px;
    width: 175px;
    height: 75px;
    background-color: hsl(0,0%,25%);
    border-radius: 10px;
    border: 3px;
    border-color: white;
    box-shadow: 40px #ffffff;
    font-size: 27px;
    color:bisque;
}
#switcher:active{
    transform: translateY(5px);
    box-shadow: 0 8px 0 0 #0e1830;
    transform: scale(0.95);
}
#switcher:hover{
    transform: scale(1.1);
    transition-duration: 1s;
}
.card{
    background-color: hsl(0,0%,15%);
}
#clock{
    /* justify-self: center; */
    /* margin-left: -10%; */
    width:400px;
    height:400px;
    background-image: url("d35y9h6-158d767b-ef4d-45c4-ba7e-9bdc817850d0 copy.jpg");
    background-blend-mode: 0.3;
    border-radius: 250px;
    border-radius: 50%;
    position: relative;
}
#clock-face{
    position: relative;
    width: 50px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clk{
    font-size: 35px;
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    position: absolute; 
    transform-origin:center calc(195px + 5px);
    text-align: center;
}
.clk:nth-child(1) { transform: rotate(30deg); }
.clk:nth-child(2) { transform: rotate(60deg); }
.clk:nth-child(3) { transform: rotate(90deg); }
.clk:nth-child(4) { transform: rotate(120deg); }
.clk:nth-child(5) { transform: rotate(150deg); }
.clk:nth-child(6) { transform: rotate(180deg); }
.clk:nth-child(7) { transform: rotate(210deg); }
.clk:nth-child(8) { transform: rotate(240deg); }
.clk:nth-child(9) { transform: rotate(270deg); }
.clk:nth-child(10) { transform: rotate(300deg); }
.clk:nth-child(11) { transform: rotate(330deg); }
.clk:nth-child(12) { transform: rotate(0 deg); }

#minutehand{
    height: 35%;
    background-color:yellow;
    border-radius: 5px;
    width: 2%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    transform-origin: bottom;
    z-index: 2;
    border-radius: 2em;
}
#hourhand{
    height: 27%;
    background-color: rgb(0, 179, 255);
    width: 3%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    transform-origin: bottom;
    z-index: 2;
    border-radius: 2em;
}
#secondhand{
    height: 40%;
    background-color: white;
    width: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    transform-origin: bottom;
    z-index: 2;
    border-radius: 2em;
    transition: 0.8s;
}
.hand{
    width: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    transform-origin: bottom;
    z-index: 2;
    border-radius: 2em;
}
.pin{
    top:0%;
    bottom:0%;
    right: 0%;
    left: 0%;
    position: absolute;
    width: 1em;
    height: 1em;
    background: rgb(255, 255, 255);
    border: 2px solid #ffffff;
    border-radius: 10em;
    margin: auto;
    z-index: 10;
}
#dayndate{
    margin-top: 1%;
    padding: 25px;
    /* background-image: url("d35y9h6-158d767b-ef4d-45c4-ba7e-9bdc817850d0.jpg"); */
    color: bisque;  
    border-radius: 15px;
}
#utc{
    margin-top: 1%;
    padding: 25px;
    /* background-image: url("d35y9h6-158d767b-ef4d-45c4-ba7e-9bdc817850d0.jpg"); */
    color: bisque;  
    border-radius: 15px;
}
.super{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    gap:10%;
}
.clock-part{
    max-width:400px;
    margin-left: 10%;
    /* padding-left: 5%; */
    display: flex;
    flex-direction: column;
}
#container{
    gap:5%;
    width:275px;
    justify-content: center;
}
/* Weather card */

.weather-card{
    border-radius: 30px;
    background-color: hsl(0,0%,15%);
    margin-top: 5%;
    width:90%;
    max-width:470px;
    height: 600px;
}
.search{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.search input{
    border-radius: 30px;
    color: #555;
    margin: 3%;
    font-size: 18px;
    padding:10px 20px;
    flex: 1;
}
.search-button{
    margin-top: 1%;
    margin-right: 2%;
    background: #ebfffc;
    border: 0;
    outline: 0;
    width:50px;
    height:50px;
    border-radius:50%;
}
.search-button img{
    width:21px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    margin-right: 10px;
    width: 40px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather,.error{
    display: none;
}
@media(max-width:576px){
    .super{
        flex-direction: column;
    }
    .weather-card{
        margin-top:15%;
        margin-left: 5%;
    }
}
